@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { font-display: swap; font-style : bold; src: url("/fonts/K2DBold.ttf"); font-family : "K2D"; font-weight : 700;  }
@font-face { font-display: swap; font-style : bold; src: url("/fonts/K2DSemiBold.ttf"); font-family : "K2D"; font-weight : 600;  }
@font-face { font-display: swap; font-style : bold; src: url("/fonts/K2DMedium.ttf"); font-family : "K2D"; font-weight : 500;  }
@font-face { font-display: swap; font-style : bold; src: url("/fonts/K2DRegular.ttf"); font-family : "K2D"; font-weight : 400;  }

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: red;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.btn {
  @apply bg-redfirb;
  @apply font-bold;
  @apply text-lg;
  @apply text-white;
  @apply rounded-3xl;
  @apply hover:bg-[#FFC81D];
  @apply hover:text-redfirb;
}

